#about_text_container {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}
#about_text {
	font-size: 18px;
	width: 960px;
	margin: 0px auto;
	padding-bottom: 50px;
	text-align: center;
	line-height: 30px;
	padding-top: 20px;
	padding-bottom: 40px;
}
#about_text_title {
	font-size: 30px;
	line-height: 40px;
	font-weight: bold;
}
#background_pattern {
	background-image: url(../img/pattern.png);
	position: absolute;
	opacity: 0.4;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 6;
}
body {
	background-color: #10C7B2;
}
#carousel_title {
	background-color: #10C7B2;
	color: #fff;
	font-size: 26px;	
	font-weight: bold;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
#carousel_title span {
	margin-left: 20px;
	text-decoration: underline;
	cursor: pointer;
}
footer {
	background-color: #10C7B2;
	color: #ffffff;
	min-height: 100px;
	width: 100%;
}
footer .col-lg-4 {
	margin: 0;
	padding: 0;
}
footer .row  {
	margin: 0;
}
#f_about p a {
	color: #fff;
	text-decoration: underline;
	font-weight: bold;
}
#f_follow i {
	margin-right: 10px;
	color: #EBEBEB;
}
#f_follow i:hover,
#f_follow i:focus {
	color: #fff;
}
#f_newsletter input {
	border: none;
	color: #00796B;
}
#f_about, #f_newsletter, #f_follow {
	padding: 20px;
}
img.title-element {
	top: -40%;
	left: 0;
	width: 100%;
	z-index: 5;
}
#logo_container {
	position: relative;
	z-index: 7;
	margin-top: 100px;
}
#logo_container img {
	width: 250px;
}
#meta_writer, #meta_comment {
	display: inline;
}
#meta_comment {
	text-decoration: underline;
	font-style: italic;
	color: #10C7B2;
	cursor: pointer;
	padding-left: 10px;
}
#meta_writer {
	font-style: italic;
	padding-right: 10px;
}
#meta_writer span{
	color: #10C7B2;
	cursor: pointer;
	text-decoration: underline;
}
.post-carousel {
	max-height: 300px;
	overflow: hidden;
	background-color: #fff;
	position: relative;
}
.post-carousel i {
	position: absolute;
	z-index: 2000;
	color: #fff;
	opacity: 0.8;
}
.post-carousel i:hover {
	opacity: 1.0;
	cursor: pointer;
}
.post-carousel #left_arrow {
 	left: 15px;
 	top: 50%;
}
.post-carousel #right_arrow {
	right: 15px;
	top: 50%;
}
#post {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}
#post_metadata {
	margin-top: 15px;
	margin-bottom: 20px;
	text-align: center;
}
#post_text {
	font-size: 18px;
	width: 960px;
	margin: 0px auto;
	padding-bottom: 50px;
	text-align: center;
	line-height: 30px;
}
#post_text img {
	width: 800px;
	margin-top: 10px;
}
#post_text #img_desc {
	font-style: italic;
	font-size: 80%;
	margin-top: 0px !important;
}
#post_title {
	position: relative;
	font-size: 80px;
	color: #fff;
	z-index: 7;
}
#title_container {
	position: relative;
	height: 400px;
	overflow: hidden;
	text-align: center;
}
.title-element {
	position: absolute;
}
#video_container {
	position: relative;
	min-height: 400px;
	overflow: hidden;
}
#video_background {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: -300px;
	left: 0px;
	z-index: -1000;
}